body {
  min-height: 100%;
  position: relative;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212126;
  color:white;
}

button {
    background-color: rgba(189,204,212, 1);
    width:150px;
    height:auto;
    border-radius:20px;
    border-color:rgba(189,204,212, 1);
    box-shadow: 3px 4px 0px 1px rgba(172, 174, 212, 1);
    font-family: hardpixel;
    font-size:18px;
    border: 0px;
}

button:hover, button:focus {
    background-color:rgba(172, 174, 212, 1);
    box-shadow: 0px 0px 0px 0px;
    border-color:rgba(172, 174, 212, 1);
    transform: translateX(3px) translateY(4px)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: crackman;
    src: url(fonts/crackman/Crackman.otf);
}

@font-face {
    font-family: hardpixel;
    src: url(fonts/hardpixel/Hardpixel.otf);
}

@font-face {
    font-family: uni_sans_heavy;
    src: url(fonts/uni_sans/Uni_Sans_Heavy.otf);
}