.navbar {
    top:0;
    width:100%;
    display: flex;
    align-items: center;
}

.navbar > button:not(#database) {
    margin:3px;
}

.navButton--database {
    margin-left: auto;
}

@media all and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar > button {
    flex: 1 1 33%;
  }
}